/* Header */
header {
  background: url("./images/header-bg.jpg") no-repeat center center/cover;
  min-height: 100vh; /* высота = экран */
  filter: brightness(1.2);
  display: flex;
  flex-direction: column;
  justify-content: center; /* центрируем по вертикали */
  /* align-items: center;  центрируем по горизонтали */
  text-align: center;
  color: #003366;
  padding: 20px;
}

header h1,
header p {
  font-family: "Arial", sans-serif;
  color: #003366;
  text-shadow: 1px 1px 0 #e9ebcb;
}

/* Заголовок и текст с плавной адаптацией */
header h1 {
  font-size: clamp(1.6em, 4vw, 2.2em); /* минимум 1.6em, максимум 2.2em */
  margin-bottom: 20px;
}

header p {
  font-size: clamp(1em, 2.5vw, 1.6em); /* минимум 1em, максимум 1.6em */
  line-height: 1.4;
  margin-bottom: 15px;
}

header p + p {
  margin-top: 10px;
}
header p:last-of-type {
  margin-bottom: 80px;
}

header p strong {
  display: block;
  margin: 2px 0;
}

/* Навигация */
nav ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul li {
  margin: 5px;
}

nav ul li a {
  color: #0b021d;
  text-shadow: 1px 1px 0 #cbdaeb;
  font-weight: bold;
  font-size: clamp(0.9em, 2vw, 1.6em); /* плавная адаптация */
  padding: 8px 16px;
  border-radius: 6px;
  transition: all 0.3s ease;
  display: inline-block;
  border: 1.5px solid rgb(32, 168, 236);
}

nav ul li a:hover {
  background-color: #97b4ee;
  color: #003366;
  box-shadow: 0 0 8px rgba(38, 255, 0, 0.7);
}
ul {
  list-style: none;   /* убираем стандартные точки */
  padding-left: 0;    /* убираем отступ слева */
  margin-left: 0;     /* убираем лишний отступ */
}
/* Секции */
section {
  padding: 40px 20px;
  max-width: 900px;
  margin: 40px auto;
  background: #fff;
  border-left: 6px solid #006699;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  color: #006699;
  margin-top: 0;
  font-size: clamp(1.4em, 3vw, 1.9em); /* плавная адаптация */
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
}

.star {
  color: gold;
  font-size: 1.5em;
}

/* Футер */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Общие стили для секций */
#opus,
#indications,
#healing,
#hotels,
#excursions,
#contacts {
  font-size: clamp(1em, 2vw, 1.2em);
  line-height: 1.6;
}

#opus {
  line-height: 1.4;
}
#opus h2 {
  font-size: clamp(1.4em, 3vw, 1.8em);
}
#indications h2,
#hotels h2,
#excursions h2,
#contacts h2 {
  font-size: clamp(1.6em, 3.5vw, 1.9em);
}
#healing h2 {
  font-size: clamp(1.2em, 2.5vw, 1.4em);
}
/* Узкая колонка по центру */
.header-inner {
  width: 100%;
  max-width: 900px;     /* регулируй на вкус: 700–900px */
  margin: 0 auto;       /* центрирование блока */
  text-align: center;   /* центрирование текста внутри */
  padding: 20px;
}

.excursion-photo {
  max-width: 300px;
  height: auto;
}
.page-content {
  max-width: clamp(600px, 80%, 900px);
  margin: 0 auto;
  padding: 20px;
}
